Language : Cpp
BasedOnStyle : Microsoft
AccessModifierOffset : -4
AlignArrayOfStructures : None
AllowShortFunctionsOnASingleLine : InlineOnly
AllowShortLambdasOnASingleLine : All
AllowShortIfStatementsOnASingleLine : Never
AllowShortLoopsOnASingleLine : false
AlwaysBreakBeforeMultilineStrings : false
AlwaysBreakTemplateDeclarations : No
BinPackArguments : false
BinPackParameters : false
BraceWrapping :
  AfterCaseLabel : true
  AfterClass : true
  AfterControlStatement : Always
  AfterEnum :       true
  AfterFunction :   true
  AfterNamespace :  true
  AfterObjCDeclaration : true
  AfterStruct :     true
  AfterUnion :      true
  AfterExternBlock : true
  BeforeCatch :     true
  BeforeElse :      true
  BeforeLambdaBody : false
  BeforeWhile :     true
  IndentBraces :    false
  SplitEmptyFunction : true
  SplitEmptyRecord : true
  SplitEmptyNamespace : true
BreakBeforeBinaryOperators : None
BreakBeforeConceptDeclarations : Always
BreakBeforeBraces : Custom
BreakBeforeInheritanceComma : false
BreakBeforeTernaryOperators : true
ColumnLimit : 120
QualifierAlignment : Leave
Cpp11BracedListStyle : true
FixNamespaceComments : true
ShortNamespaceLines : 0
SortIncludes : Never
IndentCaseLabels : false
IndentCaseBlocks : true
IndentGotoLabels : false
IndentPPDirectives : None
IndentWidth : 4
IndentWrappedFunctionNames : false
InsertBraces : true
InsertTrailingCommas : None
NamespaceIndentation : None
PointerAlignment : Left
ReferenceAlignment : Pointer
ReflowComments :  false
SortUsingDeclarations : false
SpaceAfterCStyleCast : false
SpaceAfterLogicalNot : false
SpaceAfterTemplateKeyword : false
SpaceBeforeCpp11BracedList : false
SpaceBeforeCtorInitializerColon : false
SpaceBeforeInheritanceColon : true
SpaceBeforeParens : ControlStatements
SpaceInEmptyBlock : true
SpacesInContainerLiterals : false
SpacesInCStyleCastParentheses : false
TabWidth : 4
UseCRLF : true
UseTab : Always