Language: Cpp
BasedOnStyle: Microsoft
AlignAfterOpenBracket : Align
AlignConsecutiveAssignments : true
AlignTrailingComments : true
BreakBeforeBraces : Allman
ColumnLimit : 120
ContinuationIndentWidth : 0
IndentCaseLabels : false
IndentWidth : 4
InsertBraces : false
PointerAlignment : Left
SortIncludes : Never
SpaceAfterCStyleCast : false
SpaceBeforeParens : ControlStatements
SpaceInEmptyBlock: true
UseTab : AlignWithSpaces
TabWidth : 4