[submodule "SandTable/library/spdlog"]
	path = SandTable/library/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SandTable/library/glfw"]
	path = SandTable/library/glfw
	url = https://github.com/glfw/glfw.git
[submodule "SandTable/library/imgui"]
	path = SandTable/library/imgui
	url = https://github.com/ocornut/imgui.git
