# Directories
.vs/
bin/
obj/
.vscode/
cmake-build/
cmake-bin/
build/
library/imgui/backends/
library/imgui/examples/
library/imgui/misc/

# Files
*.xlsx
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.backup